<!--Clock Out View-->
<h1>ClockOut</h1>
<div class="well well-lg">
    <div class="input-group">
        <span class="input-group-addon">Room 1.</span>
        <input type="text" class="form-control" aria-label="...">
        <span class="input-group-addon btn-default" role="button" data-ng-click="submit()">Confirm</span>
    </div>
    <p></p>
    <div class="input-group">
        <span class="input-group-addon">Room 2.</span>
        <input type="text" class="form-control" aria-label="...">
        <span class="input-group-addon btn-default" role="button" data-ng-click="submit()">Confirm</span>
    </div>
    <p></p>
    <div class="input-group">
        <span class="input-group-addon">Room 3.</span>
        <input type="text" class="form-control" aria-label="...">
        <span class="input-group-addon btn-default" role="button" data-ng-click="submit()">Confirm</span>
    </div>
    <p></p>
    <div class="input-group">
        <span class="input-group-addon">Room 4.</span>
        <input type="text" class="form-control" aria-label="...">
        <span class="input-group-addon btn-default" role="button" data-ng-click="submit()">Confirm</span>
    </div>
    <p></p>
    <div class="input-group">
        <span class="input-group-addon">Room 5.</span>
        <input type="text" class="form-control" aria-label="...">
        <span class="input-group-addon btn-default" role="button" data-ng-click="submit()">Confirm</span>
    </div>
    <p></p>
</div>
<!--
<div class="col-lg-6">
    <pre><i>Clockout User</i></pre>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Confirm</button>
      </span>
    </div><-- /input-group ->
</div><-- /.col-lg-6->
-->