<!--Clock Out View-->
<div class="panel panel-default">
    <div class="panel panel-heading">
        <h1>ClockOut</h1>
    </div>
    <form class="panel-body">

        <p> Choose room to clockout of</p>
        <p></p>
        <div data-ng-repeat="room in usedRooms track by $index" class="btn-group" data-toggle="buttons">
            <div class="form-group">
                <div class="input-group" data-toggle="tooltip" title="The room you were using" >
                    <span class="input-group-addon">Room {{$index + 1}}.</span>
                    <input type="text" class="form-control" aria-label="...">
                    <span class="input-group-addon submit-button btn" id= exit title="Clock out of the current room"
                          role="button" data-ng-click="clockOut(0)">Clockout</span>
                </div>
            </div>
        </div>
        <div data-ng-class="alertClass" class="alert alert-info">
            <p>{{emptyMessage}}</p>
        </div>
        <button type="button" class="btn btn-primary" title="Go Back to the Main Menu"
                data-ng-click="go('/')">Cancel</button>
    </form>
</div>

