<!--Main View-->
<!--
<div class="alert alert-success" role="alert"><em><strong><p>&emsp;" Potential Two Hour Limit "</p></strong></em></div>
-->
<div class="page-header">
    <h1>IMS Room Renter v.1</h1>
</div>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <form class="navbar-form navbar-left" role="search">
            <h3>
                <span class="label label-default"> Next Available Time:</span>
                <span class="label label-default"> Current Available Rooms:</span>
            </h3>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-default">Check</button>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-default">Check</button>
        </form>
    </div>
</nav>
<div class="body">
    <form class="navbar-form navbar-left" role="search">
        <div class="well well-lg">
            <ul class="nav nav-pills" id="testButton">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">ClockIn</a></li>
                <li role="presentation"><a href="#">ClockOut</a></li>
                <li role="presentation"><a href="#">FAQ</a></li>
                <li role="presentation"><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </form>
</div>
