<!--Main View-->
<!--
<div class="alert alert-success" role="alert"><em><strong><p>&emsp;" Potential Two Hour Limit "</p></strong></em></div>
-->
<div class="page-header">
    <div class="well well-sm">
        <h1>Room Renter v.1</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>User Tools</h3>
            </div>
            <div class="panel-body">
                <div class="btn-group" role="group" aria-label="Clock In " title="Clock Into a Room">
                    <button data-ng-click="vm.go('/ClockIn')" class="btn btn-default btn-lg">Clock In &nbsp;</button>
                </div>
                <br>
                <br>
                <div class="btn-group" role="group" aria-label="Clock Out" title="Clock Out of a Room">
                    <button data-ng-click="vm.go('/ClockOut')" class="btn btn-default btn-lg">Clock Out</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Logo/Pictures</h3>
            </div>
            <img class="img-responsive center-block" src="assets/RM.png" width="75%" height="75%"> <!--fits in 800x600 window-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>
                <span class="label label-default" title="The number of rooms available">Open Rooms: </span>
            </h3>
            <output class="form-control">{{vm.roomsVacant}}</output>
        </div>
        <div class="col-sm-4">
            <h3>
                <span class="label label-default" title="The current time">Current Time:</span>
            </h3>
            <output class="form-control" >
                {{ vm.now | date:'HH:mm:ss'}}
            </output>
        </div>
        <div data-ng-class="vm.timePrompt" class="col-sm-4">
            <h3>
                <span class="label label-default" title="The user that has been clocked in the longest">Oldest ClockIn Time:</span>
            </h3>
            <output class="form-control">
                {{vm.nextAvailableTime}}
            </output>
        </div>
    </div>
    <div class="row">
        <img src="assets/Toro.jpg" width="5%" height="5%">
    </div>
</div>
