<!--Admin Export View-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Admin Export View</h1>
    </div>
    <div class="panel-body">
        <label>Database Printout</label>
        <div class="well well"><i>Due to engine limitations, we can only allow you to copy text to your clipboard, which
        can be saved elsewhere permanently.</i></div>
        <textarea class="form-control" rows="5" title="For database Print" readonly>{{message}}</textarea>
    </div>
</div>