<!--Navbar View
NOTE: I think we will have to ng-include this snippet!-->
<br>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-form navbar-left">
            <button class="btn btn-default" data-ng-click="go('/Admin')"
                    title="Open the Admin tools">Admin</button>
            <button class="btn btn-default" data-toggle="modal" data-target="#swapRoomsModal"
                    title="Swap people between rooms">Swap Rooms</button>
            <button class="btn btn-default" data-toggle="modal" data-target="#helpModal"
                    title="Show information about the project">Help</button>
        </div>
    </div>
    <div class="navbar-form pull-right">
        <button class="btn btn-default" data-ng-click="refresh()" title="Refresh the current application page">
            <span class="glyphicon glyphicon glyphicon-refresh"></span>
        </button>
        <button class="btn btn-default" data-ng-click="back()" title="Go Back">
            <span class="glyphicon glyphicon-menu-left"></span>
        </button>
    </div>
    <!--Help Modal Popup-->
    <div class="modal fade" id="helpModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">RoomRenter version: {{version}}</h4>
                </div>
                <div class="modal-body">
                    <p>Add more information to this help menu...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--Swap Rooms Modal Popup-->
    <div class="modal fade" id="swapRoomsModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Swap Rooms</h4>
                </div>
                <div class="modal-body">
                    <p> To swap rooms just choose your current room and choose new room from drop down<!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Room 1</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Room 2</a></li>
                            <li><a href="#">Room 3</a></li>
                            <li><a href="#">Room 4</a></li>
                            <li><a href="#">Room 5</a></li>
                        </ul>
                    </div>
                    <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success">Room 2</button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Room 1</a></li>
                            <li><a href="#">Room 3</a></li>
                            <li><a href="#">Room 4</a></li>
                            <li><a href="#">Room 5</a></li>
                        </ul>
                    </div>
                    <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">Room 3</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Room 1</a></li>
                            <li><a href="#">Room 2</a></li>
                            <li><a href="#">Room 4</a></li>
                            <li><a href="#">Room 5</a></li>
                        </ul>
                    </div>
                    <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning">Room 4</button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Room 1</a></li>
                            <li><a href="#">Room 2</a></li>
                            <li><a href="#">Room 3</a></li>
                            <li><a href="#">Room 5</a></li>
                        </ul>
                    </div>
                    <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Room 5</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Room 1</a></li>
                            <li><a href="#">Room 2</a></li>
                            <li><a href="#">Room 3</a></li>
                            <li><a href="#">Room 4</a></li>
                        </ul>
                    </div>
                    </p>
                    {{swapMessage}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</nav>