<!--Navbar View
NOTE: I think we will have to ng-include this snippet!-->
<br>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-form navbar-left">
            <button class="btn btn-default" data-ng-click="go('/Admin')" data-toggle="tooltip" data-placement="bottom"
                    title="Open the Admin tools">Admin
            </button>
            <span data-toggle="modal" data-target="#swapRoomsModal">
        <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                title="Swap people between rooms">Swap Rooms
        </button>
      </span>
            <span data-toggle="modal" data-target="#helpModal">
        <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                title="Show information about the project">Help
        </button>
      </span>
        </div>
    </div>
    <div class="navbar-form pull-right">
        <button class="btn btn-default" data-ng-click="go('/')" data-toggle="tooltip" data-placement="bottom"
                title="Go to the Main Page">
      <span class="glyphicon glyphicon-home">
      </span>
        </button>
        <button class="btn btn-default" data-ng-click="refresh()" data-toggle="tooltip" data-placement="bottom"
                title="Refresh the current application page">
      <span class="glyphicon glyphicon-refresh">
      </span>
        </button>
        <button class="btn btn-default" data-ng-click="back()" data-toggle="tooltip" data-placement="bottom"
                title="Go Back" >
      <span class="glyphicon glyphicon-menu-left">
      </span>
        </button>
    </div>
    <!--Help Modal Popup-->
    <div class="modal fade" id="helpModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;
            </span>
                    </button>
                    <h4 class="modal-title">RoomRenter version: {{version}}
                    </h4>
                </div>
                <div class="">
                    <div class="panel-body">
                        <p>
                        <h4>Founding Fathers of Room Renter:
                        </h4>
                        </p>
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <div class="btn-group-vertical">
                                    <img src="assets/vphriang1.jpg" align="left" width="65%">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="well well-sm">
                                    <p>
                                        <strong>Vigeneareay Phriang
                                        </strong>
                                        <br>
                                        <em>vphriang1@toromail.csudh.edu
                                        </em>
                                    <p>Thank you for choosing room renter.
                                        Feel free to email us.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- /.modal-dialog -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!--Swap Rooms Modal Popup-->
    <div class="modal fade" id="swapRoomsModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;
          </span>
                    </button>
                    <h4 class="modal-title">Swap Rooms
                    </h4>
                </div>
                <div class="modal-body">
                    <p>Click on the room to swap from:
                    <div class="btn-groupone" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" data-ng-click="swapRooms()" name="options" id="rm1" autocomplete="off"> Room 1
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" data-ng-click="swapRooms()" name="options" id="rm2" autocomplete="off"> Room 2
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" data-ng-click="swapRooms()" name="options" id="rm3" autocomplete="off"> Room 3
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" data-ng-click="swapRooms()" name="options" id="rm4" autocomplete="off"> Room 4
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" data-ng-click="swapRooms()" name="options" id="rm5" autocomplete="off"> Room 5
                        </label>
                    </div>
                    <p>
                    </p>
                    <p>Click on the room to swap to:
                    </p>
                    <div class="btn-grouptwo" data-toggle="buttons">
                        <label class="btn btn-danger">
                            <input type="radio" data-ng-click="swapRooms()" name="options" id="option1" autocomplete="off"> Room 1
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" data-ng-click="swapRooms()" name="options" id="option2" autocomplete="off"> Room 2
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" data-ng-click="swapRooms()" name="options" id="option3" autocomplete="off"> Room 3
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" data-ng-click="swapRooms()" name="options" id="option4" autocomplete="off"> Room 4
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" data-ng-click="swapRooms()" name="options" id="option5" autocomplete="off"> Room 5
                        </label>
                    </div>
                </div>
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="go('/')">Submit
                    </button>
                </div>
                {{swapMessage}}
            </div>
        </div>
    </div>
    </div>
</nav>
<!--fix navbar tooltip-->
<script>
    $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        }
    );
</script>
