<!--Navbar View
NOTE: I think we will have to ng-include this snippet!-->
<br>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-form navbar-left">
            <button class="btn btn-default" data-ng-click="vm.go('/Admin')" data-toggle="tooltip" data-placement="bottom"
                    title="Open the Admin tools">Admin
            </button>
            <span data-toggle="modal" data-target="#swapRoomsModal">
                <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                        title="Swap people between rooms">Swap Rooms
                </button>
            </span>
            <span data-toggle="modal" data-target="#helpModal">
                <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                        title="Show information about the project">Help
                </button>
            </span>
        </div>
    </div>
    <div class="navbar-form pull-right">
      <button class="btn btn-default" data-ng-click="vm.whosClockedIn()">
          <span class="glyphicon glyphicon-question-sign"></span>
      </button>
        <button class="btn btn-default" data-ng-click="vm.quickPrint()">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button class="btn btn-default" data-ng-click="vm.go('/')" data-toggle="tooltip" data-placement="bottom"
                title="Go to the Main Page">
            <span class="glyphicon glyphicon-home"></span>
        </button>
        <button class="btn btn-default" data-ng-click="vm.refresh()" data-toggle="tooltip" data-placement="bottom"
                title="Refresh the current application page">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <button class="btn btn-default" data-ng-click="vm.back()" data-toggle="tooltip" data-placement="bottom"
                title="Go Back">
            <span class="glyphicon glyphicon-menu-left"></span>
        </button>
    </div>
    <!--Help Modal Popup-->
    <div class="modal fade" id="helpModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;
            </span>
                    </button>
                    <h4 class="modal-title">RoomRenter version: {{vm.version}}
                    </h4>
                </div>
                <div class="">
                    <div class="panel-body">
                        <div class="panel-body">
                            <div class="row">
                                <div class="well well-sm">
                                    <i>RoomRenter is designed as a basic web-based utility program that keeps track of
                                    users clocking into and out of rooms. It was developed over a period of about 4 weeks
                                    from December to January 2016/17 primarily for education perposes. It is currently used at
                                    IMS at California State University Dominguez Hills</i>
                                </div>
                            </div>
                            <h4>Developed by:</h4>
                            <div class="col-sm-6">
                                <div class="well well-sm">
                                    <p>
                                        <strong>Brad Taniguchi</strong>
                                        <br>
                                        <em>https://github.com/bradtaniguchi</em>
                                        <br>
                                        I was the primary developer of the application. It helped me lear a lot about
                                        Angularjs, nw.js and the overall javascript development environment. Sadly I started
                                        this project with little knowledge and tried to design it from the ground up as
                                        best as I could. Now that it is "finished" I already see flaws in the design which
                                        I may, or may not ever fix. But it should get the job done.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="well well-sm">
                                    <p>
                                        <strong>Vigeneareay Phriang
                                        </strong>
                                        <br>
                                        <em>https://github.com/vphriang1
                                        </em>
                                    Thank you for choosing room renter.
                                        Here is my github account.  You can contact me here.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 pull-right">
                                <div class="well well-sm">
                                    <p>
                                        <strong>Eric Serrano</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- /.modal-dialog -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div data-ng-include="'app/shared/swap-navbar/swapNavbar.html'"></div>
</nav>
<!--fix navbar tooltip-->
<script>
    $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        }
    );
</script>
