<!--Admin Stat View-->
<div class="panel panel-default">
    <div class="panel panel-heading">
        <h1>Admin Time View</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div data-ng-class="wellClass" class="col-sm-8 well"> <!--shows the Username-->
                <h4>Clocked in User:</h4>
                <div ng-repeat="room in usedRooms track by room.roomNumber">
                    <form class="form-group">
                        <div class="input-group">
                            <!--<div class="media-left media-middle">
                                <img src="assets/Toro.jpg" class="media-object" width="5%" height="5%">
                            </div>--> <!--IDK why this isn't working-->
                            <span class="input-group-addon">Room {{room.roomNumber}}.</span>
                                <input type="text" class="form-control" title="username"
                                       value="{{room.username}} / {{room.timeIn}}"
                                       size="64" readonly>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4 well highlight">
                <h4>Elapsed Time: </h4>
                <div ng-repeat="room in usedRooms track by room.roomNumber">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" title="Time the user has been in the room"
                                   value="{{room.duration}}" readonly>
                            <span class="input-group-addon" id="basic-addon2" role="button">Clockout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--alert class goes here-->
        <div data-ng-class="alertClass" class="alert alert-info">
            <p>{{emptyMessage}}</p>
        </div>
    </div> <!--end panel body-->
</div>
