<!--Clock In HTML snippet.
TODO: Add data-toggles and titles to all input fields!-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>ClockIn</h1>
    </div>
    <form class="panel-body" >
        <div class="form-group row" data-toggle="tooltip" title="Your email the school gave you">
            <label for="toromail" class="col-xs-2 col-form-label">Toro Username</label>
            <div class="col-xs-10">
                <div class="input-group">
                    <input data-ng-model="toromail" placeholder="username1"
                           type="text" class="form-control" aria-describedby="Username" id="toromail"/>
                    <span class="input-group-addon">@toromail.csudh.edu</span>
                </div>
            </div>
        </div>
        <div class="form-group row" data-toggle="tooltip" title="Your ID that is on your studentID">
            <label for="studentID" class="col-xs-2 col-form-label">StudentID Number</label>
            <div class="col-xs-10">
                <input data-ng-model="studentID" type="number" class="form-control" id="studentID"/>
            </div>
        </div>
        <div data-ng-class="alertClass" class="alert alert-danger alert-dismissable">
                <a data-ng-click="alertClose()" class="close" aria-label="close">×</a>
                <strong>Error!</strong> Invalid Entry! {{errorMessage}}
        </div>
        <div class= "well well-sm">
            <Strong>Choose a Room:</Strong>
        </div>
        <div data-ng-repeat="room in rooms" class="btn-group" data-toggle="buttons">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <label class="btn btn-primary">
                            <input type="radio" autocomplete="off" name="optradio" value={{room.value}}/>{{room.text}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <br/><br>
        <button class="btn btn-default btn-lg" data-ng-click="submit()">Submit</button><BR>
        <div data-ng-class="alertClass" class="alert alert-danger alert-dismissable">
            <a data-ng-click="alertClose()" class="close" aria-label="close">×</a>
            <strong>Error!</strong> Invalid Entry! {{errorMessage}}</div>

    </form>
</div>
<!--modal popup, for successful entry-->
<div class="modal fade" id="successModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Sucessful ClockIn</h4>
            </div>
            <div class="modal-body">
                <p>Add Stuff about the login</p> <!--TODO-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        data-ng-click="go('/')">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


